<footer>
    <div class="footer-container">
        <p>&copy; 2023 Nadia Akter. All rights reserved.</p>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</footer>

<style>
    .footer-container p {
        color: #fff;
    }

    .footer-container {
        padding: 10px;
        background-color: #704a04;
        color: #fff;
        text-align: center;
    }

    .footer-container ul {
        list-style-type: none;
        padding: 0;
    }

    .footer-container ul li {
        display: inline;
        margin: 0 10px;
    }

    .footer-container ul li a {
        color: #fff;
        text-decoration: none;
    }

    .footer-container ul li a:hover {
        text-decoration: underline;
    }
</style>
