<nav>
    <a href="/">Home</a>
    <a href="/about">About Me</a>
    <a href="/projects">Projects</a>
    <a href="/services">Services</a>
    <a href="/contact">Contact</a>

    <img src="/images/Untitled.png" alt="My Logo">

 </nav>
 