<!DOCTYPE html>
<html>
<head>
   <title>About Me</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <%- include('partials/navbar') %>

   <div class="about-container">
       <h1>About Me</h1>
       <img src="/images/000000-Copy.JPG" alt="Your Name" class="profile-pic">
       <p>"Hello, I'm Nadia, a student on a path to excellence in Software Engineering Technology at Centennial College.
         My journey is fueled by a desire to translate theoretical concepts into tangible, real-world solutions.
          Beyond my academic pursuits, I am an avid explorer of cutting-edge technology trends,
         continuously seeking their potential to shape our evolving future."</p>
       <a href="/Nadia_Resume.pdf" class="cta-button" download>Download My Resume</a>

   </div>

   <%- include('partials/footer') %>
</body>
</html>
