<!DOCTYPE html>
<html>
<head>
   <title>Home</title>
   <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
   <%- include('partials/navbar') %>
   <div class="content-container">
       <h1>Welcome to My Portfolio</h1>
       <h2>My Statement</h2>
       <p>
         "Greetings! I'm Nadia, a dedicated software engineering technology student at Centennial College.
         My journey in the world of technology is a fusion of learning, 
         experimentation, and innovation. In this portfolio, 
         I proudly present a carefully curated selection of my academic projects and personal ventures. 
         Each piece embodies my passion for crafting reliable, user-centric software solutions. 
         My aim extends far beyond mere coursework; it's about a lifelong pursuit of knowledge, self-improvement, 
        and making a meaningful impact in the dynamic realm of technology."
       </p>
       <a href="/about" class="cta-button">Learn More About Me</a>
   </div>
   <%- include('partials/footer') %>
</body>
</html>
