<!DOCTYPE html>
<html>
<head>
   <title>Services</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
   <%- include('partials/navbar') %>


   <h1>Services I Offer</h1>
   
   <div class="services-container">
      
      <div class="service-card">
         <img src="/images/Programming_Languages.jpg" alt="General Programming">
         <h2>General Programming</h2>
         <p>Custom software solutions tailored to your business needs, ensuring efficiency and high performance.</p>
      </div>
      
      <div class="service-card">
         <img src="/images/web_development.jpg" alt="Web Development">
         <h2>Web Development</h2>
         <p>Responsive and modern web applications that are optimized for speed and user experience.</p>
      </div>

      <div class="service-card">
         <img src="/images/become-mobile-app-developer.jpg" alt="Mobile Apps">
         <h2>Mobile Apps Development</h2>
         <p>Intuitive mobile applications for both iOS and Android platforms, enhancing user engagement.</p>
      </div>
  
   </div>
   
   <%- include('partials/footer') %>

</body>
</html>
